body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: rgb(3, 28, 56);
}
.border{
    border: black solid 3px;
}
#container{
    display: grid;
    grid-template-rows: 70px 1fr;
}
#entete{
    background-color: rgb(3, 28, 56);
}
#centre{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(frok.jpg);
    display: grid;
    grid-template-columns: 200px 1fr;
}
#centre>ul{
    margin: 0;
    padding: 0;
}
#centre li{
    list-style-type: none;
}
#correction{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
a{
    text-decoration: none;
    text-align: center;
   
}
