body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(dev.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.img{
    height: 4.5vh;
    float: left;
    position: relative;
    margin-top: -90px;
}
img{
    margin-top: 4vw;
    height: 12vh;
    
}
#correction{
    height: 100vh;
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
         
}
form{
    margin-top: 4vh;
    transition: all 4s ease-in-out;
}
input{
    width: 30vw;
    height: 5vh;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    color: black;
    font-size: 1.2rem;
    margin-bottom: 2px;
}
input:hover{
    background-color:#fff;
}
.submit{
    width: 15vw;
    background: #ff5722;
    border-color: transparent;
    border-radius: 2%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    height: 6vh;
    margin-top: 1.5vh;
}
.submit:hover{
    background-color: green;
    cursor: pointer;
}
a{
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5%;
    font-size: 3.5rem;
}
.Exercice{
    display: flex;
    justify-content: space-around;
}
a:hover{
    background-color: green;
    cursor: pointer;
}